.btn-homepage {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #445D48 0%, #445D48 50%, #D6CC99 50%, #D6CC99 100%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-position 0.3s ease;
}

.btn-homepage:hover {
    background-position: left bottom;
}

.arrow-btn:hover {
    transform: translateX(7px);
    transform:scale3d(1.2)
}

.homepage-h1 {
    animation: animateLeft 1.5s   
}

@keyframes animateLeft {
    from {
        opacity: 0;
        transform: translateX(-200px)
    }
}

.btn-testimonial {
    border: 1px solid black;
}